<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monitode</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js" type="text/javascript"></script>
        <script src="https://raw.githubusercontent.com/mbostock/d3/master/d3.min.js" type="text/javascript"></script>
        <script src="https://raw.githubusercontent.com/masayuki0812/c3/master/c3.min.js" type="text/javascript"></script>
        <script src="javascripts/ajax.js" type="text/javascript"></script>
        <script src="javascripts/analytics.js" type="text/javascript" async></script>
        <link href="stylesheets/console.css" rel="stylesheet" >
    </head>
    <body ng-app="monitode">
        <h1>Nodejs control room</h1>
        <h4>this is a testing page, displaying random values</h4>
        <div id="average"></div>
        <div id="memory_lin"></div>
        <div id="memory_pie" class="sub"></div>
        <div id="extra_data" class="sub">
            <div ng-controller="static">
                <label>Frequency <span style="font-size:10px;">(second)</span></label>
                <input ng-model="clock" type="number" min="0" max="3600">
                <button ng-click="data.refresh('dynamic', $event)">Force dynamic refresh</button>
                <button ng-click="data.refresh('static', $event)">Force static refresh</button>
                <ul>
                    <li ng-repeat="element in dynamics">
                        <span>{{element.title}}:</span> {{element.info}}
                    </li>
                    <li ng-repeat="element in statics">
                        <span>{{element.title}}:</span> {{element.info}}
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <div id="bottom">
                <p>Copyright (c) 2014 hex7c0. Licensed under the GPLv3 license.</p>
                <p>This project is maintained by <a href="https://github.com/hex7c0/monitode">hex7c0</a></p>
                <p><a href="https://travis-ci.org/hex7c0/monitode"><img src="https://travis-ci.org/hex7c0/monitode.svg?branch=master" alt="Build Status"></a> <a href="http://badge.fury.io/js/monitode"><img src="https://badge.fury.io/js/monitode.svg" alt="NPM version"></a></p>
                <p><small>Hosted on GitHub Pages</small></p>
            </div>
        </footer>
        <script src="https://raw.githubusercontent.com/hex7c0/monitode/master/public/console.js" type="text/javascript"></script>
        <script src="javascripts/scale.fix.js" type="text/javascript"></script>
    </body>
</html>
