<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monitode</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://raw.githubusercontent.com/mbostock/d3/master/d3.min.js"></script>
        <script src="https://raw.githubusercontent.com/masayuki0812/c3/master/c3.min.js"></script>
        <script src="./console.js"></script>
        <link href="./console.css" rel="stylesheet" type="text/css">
    </head>

    <body ng-app="monitode" onload="load();">
        <h1>Nodejs control room</h1>
        <div id="average"></div>
        <div id="memory_lin"></div>
        <div id="memory_pie" class="sub"></div>
        <div id="extra_data" class="sub">
	        <div ng-controller=static>
	            <label>Frequency</label>
	            <input ng-model="clock" type="number" min="0" max="10000">
                <button ng-click="data.refresh('dynamic', $event)">Force dynamic refresh</button>
                <button ng-click="data.refresh('static', $event)">Force static refresh</button>
	            <ul>
                    <li ng-repeat="element in dynamics">
                        <span>{{element.title}}:</span> {{element.info}}
                    </li>
	                <li ng-repeat="element in statics">
	                    <span>{{element.title}}:</span> {{element.info}}
	                </li>
                </ul>
	        </div>
        </div>
    </body>

</html>
